// Color
$gray-200: #F1F2F8;
$gray-300: #DEDFED;
$gray-400: #BBBDCF;
$gray-500: #9195A3;
$gray-800: #292929;
$gray-900: #39393b;
$light: #fff;
$dark: #000;

// Border Style
$border-width: 1px;
$border: $border-width solid $gray-300;
$border-radius-sm: 3px;
$border-radius: 6px;

// Font Sizes
$font-size-base: 1rem;
